dialog::backdrop{
    background-color: rgba(0,0,0,.55);
}
dialog{
    max-width: 65ch;
}
#updateForm div{
    display: flex;
    flex-direction: column;
}
dialog form{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#delete{
    width: 100%;
}
#closeModal{
    margin-left: 70%;
}
