body{
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}
.cartContainer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.cartProducts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-direction: column;

    width: 90%;
    padding-bottom: 1rem;
}
.cartContainer h3 {
    width: 100%;
}
.cartProducts > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}
.cartProducts div img{
    display: block;
    width: 10rem;
}
.productData{
    width: 50%;
}